@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body{
	padding-top:10px;
}
.border{
	broder: 1px solid #ccc;
}

#topnav.affix {
    z-index: 100;
    top: 0;
    width: 100%
}

.glyphicon {
margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
margin-right: 0px !important; /*override*/
}
.pagination a {
color: #555;
}
.panel ul {
padding: 0px;
margin: 0px;
list-style: none;
}
.news-item {
padding: 4px 4px;
margin: 0px;
border-bottom: 1px dotted #555;
}


.navbar-default{
	box-shadow: none;
	background-image: none;
	border-radius: 0px;
	background-color: #ED8313;
	border-top: none;
	border-bottom: 3px solid #4A4643;
}

.navbar-default .navbar-nav > .active > a{
	background-image: none;
	box-shadow: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #FFB260;
    color: #FFFFFF;
}
/*Item to be clicked for dropdown*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFB260;
    color: #555555;
}
.dropdown-menu{
	background-color: #FFB260;
	box-shadow: none;
	border: none;
	border-top: 1px solid #4A4643;
	border-radius: 0px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a{
	/* color: #FFFFFF; */
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #FFB260;
	background-image: none;
}
.navbar-default .navbar-nav > li{
	border-right: 1px solid #FFB260;
}

.no-right-border{border-right: 0px;}
.no-left-border{border-left: 0px;}
.no-top-border{border-top: 0px;}
.no-bottom-border{border-bottom: 0px;}

.navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
	/* font-family: Tahoma,Geneva,sans-serif; */
	font-family: 'Noto Sans', 'sans-serif';
}

.navbar-default .navbar-brand{
	color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFFFFF;
}


.btn-primary{
	background-image: none;
	background-color: #4A4643;
	border-color: #4A4643;
}
.btn-primary:hover, .btn-primary:focus{
	background-color: #5f5852;
}

.panel{
	border-radius: 0px;
}

.jumbotron{
	background-color: #FFB260;
}

.footer-h4{
	color: #333333;
    /* font-family: tahoma; */
    font-size: 15px;
    font-weight: bold;
}

.orange-color{
	color: #ED8313;
}





.heading-middle{
    line-height: 25px;
    border-bottom: 1px solid #FFB260;
    padding: 0px;
    padding-bottom: 2px;
}
.heading-middle span{
	background-color: #FFB260;
    color: #FFFFFF;
    line-height: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}




.well{
	background-image: none;
	padding: 18px;
	box-shadow: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.noradius{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.blocklink:hover{
	cursor: pointer;
}

.panel-default > .panel-heading{
	background-image: none;
	background-color: #FFB260;
	color: #FFFFFF;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


.lang-switch{
	font-family: 'Droid Arabic Kufi', serif;
	font-size: 16px;
}
.lang-switch a{
	color: #5F5852;
}
.lang-switch a:hover{
	color: #FFB260;
	text-decoration: none;
}


.input-group .form-control{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.noborder{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #FFB260;
}