body{
	padding-top:10px;
}
.border{
	broder: 1px solid #ccc;
}

#topnav.affix {
    z-index: 100;
    top: 0;
    width: 100%
}

.glyphicon {
margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
margin-right: 0px !important; /*override*/
}
.pagination a {
color: #555;
}
.panel ul {
padding: 0px;
margin: 0px;
list-style: none;
}
.news-item {
padding: 4px 4px;
margin: 0px;
border-bottom: 1px dotted #555;
}